<!DOCTYPE html>
<html>
    <head><title>
        Error
    </title>
    <style>
    
.div{
    background-color: lightgrey;
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin:auto;
  text-align:center;
}

    </style>
        <body><div>
            <h1 class="div"> Error:404
               
            </h1>
         
            </div>
           
        </body>
    </head>
</html>