<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
                <link rel="icon" href="KFC.png">
                <style>
            aside {
  width: 40%;
  padding-left: 30px;
  margin-left: 20px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
.head{
    width: 70%;
  padding-left: 30px;
  margin-left: 20px;
  float: left;
  font-style: italic;
  background-color: 
lightgray;
}
.head1{
    width: 70%;
  padding-left: 30px;
  margin-left: 20px;
  float: left;
  font-style: italic;
  background-color: lightgray;

}
.head2{
     width: 70%;
  padding-left: 30px;
  margin-left: 20px;
  float: left;
  font-style: italic;
  background-color: lightgray;

}

</style>
        <body>
            {{>header}}
            <p class="head">
                KFC (abbr. for Kentucky Fried Chicken[5]) is an American fast food restaurant chain headquartered in Louisville, Kentucky that specializes in fried chicken. It is the world's second-largest restaurant chain (as measured by sales) after McDonald's, with 22,621 locations globally in 150 countries as of December 2019.[6] The chain is a subsidiary of Yum! Brands, a restaurant company that also owns the Pizza Hut, Taco Bell and WingStreet chains.[7]

KFC was founded by Colonel Harland Sanders, an entrepreneur who began selling fried chicken from his roadside restaurant in Corbin, Kentucky during the Great Depression. Sanders identified the potential of the restaurant franchising concept and the first "Kentucky Fried Chicken" franchise opened in Utah in 1952. KFC popularized chicken in the fast-food industry, diversifying the market by challenging the established dominance of the hamburger. By branding himself as "Colonel Sanders", Harland became a prominent figure of American cultural history and his image remains widely used in KFC advertising to this day. However, the company's rapid expansion overwhelmed the aging Sanders and he sold it to a group of investors led by John Y. Brown Jr. and Jack C. Massey in 1964.
            </p>
            <aside>
  <p>
KFC was one of the first American fast-food chains to expand internationally, opening outlets in Canada, the United Kingdom, Mexico and Jamaica by the mid-1960s. Throughout the 1970s and 1980s, it experienced mixed fortunes domestically, as it went through a series of changes in corporate ownership with little or no experience in the restaurant business.

            </p>

            </aside>
            <p class="head1">
                KFC's original product is pressure fried chicken pieces, seasoned with Sanders' recipe of 11 herbs and spices. The constituents of the recipe are a trade secret. Larger portions of fried chicken are served in a cardboard "bucket", which has become a feature of the chain since it was first introduced by franchisee Pete Harman in 1957. Since the early 1990s, KFC has expanded its menu to offer other chicken products such as chicken fillet sandwiches and wraps, as well as salads and side dishes such as French fries and coleslaw, desserts and soft drinks; the latter often supplied by PepsiCo. KFC is known for its slogans "It's Finger Lickin' Good!", "Nobody does chicken like KFC" and "So good".
            </p>
            <p class="head2">
                In July 1940, Sanders finalised what came to be known as his "Original Recipe" of 11 herbs and spices.[18] Although he never publicly revealed the recipe, he said the ingredients included salt and pepper and that the rest "stand on everybody's shelf".[19] After being recommissioned as a Kentucky Colonel in 1950 by Governor Lawrence Wetherby, Sanders began to dress the part, growing a goatee, wearing a black frock coat (later switched to a white suit) and a string tie and referring to himself as "the Colonel".[19] His associates went along with the title change, "jokingly at first and then in earnest", according to biographer Josh Ozersky.[20]

In 1952, Sanders franchised his recipe to his friend Pete Harman of South Salt Lake, Utah, the operator of one of the city's largest restaurants.[21] The Sanders Court & Café generally served travelers, so when the route planned in 1955 for Interstate 75 bypassed Corbin, Sanders sold his properties and traveled the US to franchise his recipe to restaurant owners.[22] Independent restaurants would pay four (later five) cents on each chicken as a franchise fee in exchange for Sanders' recipe and the right to feature it on their menus and use his name and likeness for promotional purposes.[23]

Don Anderson, a sign painter hired by Harman, coined the name "Kentucky Fried Chicken".[24] For Harman, the addition of KFC was a way of differentiating his restaurant from competitors; a product from Kentucky was exotic and evoked imagery of Southern hospitality.[24] Harman trademarked the phrase "It's finger lickin' good", which eventually became the company slogan.[23] He also introduced the "bucket meal" in 1957 (14 pieces of chicken, five bread rolls and a pint of gravy in a cardboard bucket).[25] Serving their signature meal in a paper bucket was to become an iconic feature of the company.[25]

By 1963, there were 600 KFC restaurants, making the company the largest fast food operation in the United States.[22] KFC popularized chicken in the fast food industry, diversifying the market by challenging the dominance of the hamburger.[26]
            </p>
          
        </body>
    </head>
</html>