<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
                <link rel="icon" href="KFC.png">
                <style>
                    .heads{
                        text-align:center;
                        border: 10px solid white;
                        font-family:times;
                        font-size:40px;
                       
                    }
                    .heads1{
                        text-align:center;
                                                font-family:times;
                                                border:10px solid crimson;
                                                

                    }
                    .head{
                        text-align:center;
                        color:black;
                        font-size:25px;

                    }
                    body{
                        background-color:crimson;
                    }
                </style>

        <body>
            {{>header}}
            <h1 class="heads">Connect With Us</h1>
            <h3 class="heads1">
                Need to Connect-call or Email
            </h3>
            <p class="head" >
               Call: 8897734943
            </p>
            <p class="head">
                Email:seguteja1997@gmail.com
            </p>
        </body>
    </head>
</html>