<html>
<head>
<style>
    a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
</style>

<div>
    <a href="/home" class="tag">home</a>
    <a href="/contact">contact</a>
    <a href="/about">about</a>
    <a href="/tc">tc</a>
    </div>
    <body>

    </body>
</head>
</html>